# Dependências
node_modules/

# Variáveis de ambiente
.env
.env.local
.env.production

# Logs
logs/
*.log

# Build
dist/
build/

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Firebase
firebase-debug.log
firebase-debug.log*

# Vercel
.vercel
